<header class="navbar navbar-expand-md navbar-dark nga-navbar" style="min-height: 7vh;">
  <nav class="container" aria-label="Main navigation">
    <a routerLink="/home" class="navbar-brand" alt="Accueil" aria-label="Reservi">
      <span class="nga-logo mx-1">Reservi</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="mx-auto">
        <button type="button" class="btn btn-sm me-2" routerLink="/home" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [ngClass]="{'btn-outline-light': isActive('/home'), 'nga-btn-navbar': !isActive('/home')}">
          <i class="fas fa-home me-2"></i>Home
        </button>
        <button type="button" class="btn btn-sm me-2" routerLink="/rooms/list" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          [ngClass]="{'btn-outline-light': isActive('/rooms/list'), 'nga-btn-navbar': !isActive('/rooms/list')}">
          <i class="fa-solid fa-people-roof me-2"></i>Rooms
        </button>
      </div>
      <ul class="navbar-nav me-auto">

      </ul>
      <form class="d-flex">
        <div *ngIf="!isLogged; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <button type="button" class="btn btn-sm me-2" routerLink="/register" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="{'btn-outline-light': isActive('/register'), 'nga-btn-navbar': !isActive('/register')}">
            <i class="fas fa-user-plus me-2"></i>Sign up
          </button>
          <button type="button" class="btn btn-sm me-2" routerLink="/login" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            [ngClass]="{'btn-outline-light': isActive('/login'), 'nga-btn-navbar': !isActive('/login')}">
            <i class="fas fa-sign-in-alt me-2"></i>Login
          </button>
        </ng-template>
        <ng-template #elseBlock>
          <button type="button" class="btn btn-sm me-2 btn-outline-light" (click)="onLogout()">
            <i class="fa-solid fa-plug-circle-xmark me-2"></i>Logout
          </button>
        </ng-template>
      </form>
    </div>
  </nav>
</header>