<div class="d-flex align-items-center">
  <div class="form-signin w-100 m-auto">
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="mb-4 text-center">
        <img class="img-fluid" src="../../../assets/images/login.png" alt="login" width="200" height="200">
      </div>
      <h1 class="h3 mb-3 fw-normal text-center m-auto">Please sign in</h1>

      <div class="col-md-12 mb-3">
        <label for="floatingInput" class="form-label"><i class="fa-solid fa-envelope"></i> Email</label>
        <input type="email" class="form-control mb-3" id="floatingInput" name="email" placeholder="name@example.com"
          formControlName="email" required>
        <div *ngIf="getFormValues['email'].invalid && getFormValues['email'].touched">
          <small class="text-danger" *ngIf="getFormValues['email'].errors?.['required']">
            Email is required
          </small>
          <small class="text-danger" *ngIf="getFormValues['email'].errors?.['email']">
            Email is invalid
          </small>
        </div>
      </div>

      <div class="col-md-12 mb-3">
        <label for="floatingPassword" class="form-label"><i class="fa-solid fa-lock"></i> Password</label>
        <input type="password" class="form-control mb-3" id="floatingPassword" name="password"
          formControlName="password" required>
        <div *ngIf="getFormValues['password'].invalid && getFormValues['password'].touched">
          <small class="text-danger" *ngIf="getFormValues['password'].errors?.['required']">
            Password is required
          </small>
        </div>
      </div>

      <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="!form.valid">Sign in</button>
    </form>
  </div>

</div>